body {
    background-color: black;
    color: white;
}

html,
body {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.round_box {
    background-color: whitesmoke;
    color: grey;
    border-radius: 25px;
    display: block;
    position: relative;
    z-index: 0;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: -100;

}

/* START LANGUAGE SWITCH */
/* https://dev.to/devggaurav/let-s-create-a-custom-toggle-switch-using-html-and-css-33df */

.switch {
    display: inline-block;
    width: 120px;
    height: 68px;
    position: relative;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 80px;
    cursor: pointer;
}

.toggle-thumb:before {
    content: "";
    height: 52px;
    width: 52px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox:checked + .toggle-thumb:before {
    transform: translateX(52px);
}

/* END LANGUAGE SWITCH */

/* BOX ANIMATION */
.expanding-box {
    width: 100%;
    height: 100%;
    outline: white solid thick;
    animation-name: example;
    animation-duration: 1s;
    position:absolute;
    top: 0%;
    left: 0%;
}

@keyframes example {
    0%   {width: 1%; height: 1%; top: 50%; left: 50%;}
    40%   {width: 100%; height: 1%;top: 50%; left: 0%;}
    100%   {width: 100%; height: 100%;top: 0%; left: 0%;}
}
/* END BOX ANIMATION */