body {
    background-color: black;
    color: white;
}

.center {
    height: 97vh;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.round_box {
    background-color: whitesmoke;
    color: grey;
    border-radius: 25px;
}

/* START LANGUAGE SWITCH */
/* https://dev.to/devggaurav/let-s-create-a-custom-toggle-switch-using-html-and-css-33df */

.switch {
    display: inline-block;
    width: 120px;
    height: 68px;
    position: relative;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 80px;
    cursor: pointer;
}

.toggle-thumb:before {
    content: "";
    height: 52px;
    width: 52px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox:checked + .toggle-thumb:before {
    transform: translateX(52px);
}

/* END LANGUAGE SWITCH */