body {
    background-color: black;
    color: white;
    display: block;
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
}

h1, h2 {
    text-align: center;
}

html, body {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    width: 100%;

}

/* START LANGUAGE SWITCH */
/* https://dev.to/devggaurav/let-s-create-a-custom-toggle-switch-using-html-and-css-33df */

.switch {
    display: inline-block;
    width: 120px;
    height: 68px;
    position: relative;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 80px;
    cursor: pointer;
}

.toggle-thumb:before {
    content: "";
    height: 52px;
    width: 52px;
    position: absolute;
    left: 60px;
    bottom: 8px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox:checked + .toggle-thumb:before {
    transform: translateX(-52px);
}

/* END LANGUAGE SWITCH */

/* BOX ANIMATION */
.expanding-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    outline: white solid thick;
    visibility: hidden;
    animation-name: box-expand;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 25px;
}

@keyframes box-expand {
    0% {
        width: 1%;
        height: 1%;
        top: 50%;
        left: 50%;
        visibility: visible;
    }
    40% {
        width: 100%;
        height: 1%;
        top: 50%;
        left: 0%;
        visibility: visible;
    }
    100% {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        visibility: visible;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes box-full-horiz {
    100% {
        width: 95vw;
        height: 80vh;
        visibility: visible;
    }
}

@keyframes box-full-vert {
    100% {
        width: 80vw;
        height: 95vh;
        visibility: visible;
    }
}

.expanding-box > * {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/* END BOX ANIMATION */