---
---
<div class="row">
    <span class="link-name" data-text="GITHUB"></span>
    <div class="link-box">
        <a href="https://github.com/cjbell630" style="display: inline; margin-left: auto;">
            <img src="https://github.com/cjbell630.png" alt="GitHub profile picture"
                 style="height:3em;border-radius: 25px">
        </a>
        <div style="display: inline; margin-left: auto; padding-left: 0.5em;">
            <a style="font-size:0.75em">&nbspConnor Bell</a>
            <br>
            <a class="github-button" href="https://github.com/cjbell630" data-size="large"
               aria-label="Follow @cjbell630 on GitHub">&nbspFollow&nbsp&nbsp</a>
        </div>
    </div>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>